{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>  
    <form name="sort" action="{{ url_for('index') }}"  method='post'>
      <h2>Order books by:      
          <select name="sort_type">
            <option value="1">name ascended</option>
            <option value="2">name descended</option>
            <option value="3">author ascended</option>
            <option value="4">author descended</option>        
          </select>
        <button type="submit">Confirm</button>
    </form>
  </h2>
  
    {% for book in books %}
    <div class="book">
       <p>Name: {{ book.name }} </p><br>
       
         <p>Author: {{ book.author }} </p>
         {% if book.image_name %}
         <p><img src="{{ url_for('uploads', filename = book.image_name) }}" style="width: 150px"></p>  
         {% endif %}  

         <form action="{{ url_for('delete_book', id = book.id) }}" method=post class=delete-book>
            <input type=hidden value="{{ book.id }}"/>
            <p><input type=submit value=Delete /></p>
          </form>
    </div>
    {% endfor %}

{% endblock %}

