{% extends "base.html" %}

{% block content %}
    
<div class="login-page">
<div class="form">
    <form class = "login-form" action = "" method = "post">
        
        <h1>Register</h1>
        {{form.hidden_tag()}}
        <p>    
            {{ form.username(size=32, placeholder = form.username.label.text) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email(size=64, placeholder = form.email.label.text) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32, placeholder = form.password.label.text) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>адфы
            {% endfor %}
        </p>
        <p>
            {{ form.password2(size=32, placeholder = form.password2.label.text) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.profile_type() }} {{ form.profile_type.label }}</p>
        <p>{{ form.submit() }}</p>
       
    </form>
</div>
</div>
{% endblock %}
